<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ShareSDKForJS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>416ED77718D7DE5100AE0251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>416ED78718D7DE5100AE0251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>416ED7EF18D8321B00AE0251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>416ED80F18D8321B00AE0251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
